/* Apply styles specifically prefixed to avoid conflicts */
.lp-container {
  text-align: center;
  margin: 50px;
}

.lp-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.lp-paragraph {
  font-size: 16px;
  margin-bottom: 40px;
}

.lp-text-block {
  margin: auto;
  max-width: 600px;
}

.lp-error {
  color: red;
  margin-top: 20px;
}

.lp-data {
  font-family: monospace;
  white-space: pre-wrap;
}
